<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card my-3">
        <div class="card-header">
          <div class="bg-light">Registerd Users</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">Number of users</div>
            <div class="col-md-3">
              <h1>1</h1>
            </div>
          </div>
          <button class="btn btn-primary">View Registered users</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="card my-3"
        style="
          background-image: url('C:/Users/Ram/Desktop/New folder/book-management/src/assets/Images/books/background-book.jpeg');
        "
      >
        <div class="card-header">
          <div class="bg-light">Total Books</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">Number of Books avaliable</div>
            <div class="col-md-3">
              <h1>3</h1>
            </div>
          </div>
          <button class="btn btn-primary">View All Books</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-3">
        <div class="card-header">
          <div class="bg-light">Book Catetories</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">Number of Book's Catetories</div>
            <div class="col-md-3">
              <h1>1</h1>
            </div>
          </div>
          <button class="btn btn-primary">View Catetories</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-3">
        <div class="card-header">
          <div class="bg-light">No of Authors</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">Number of Authors</div>
            <div class="col-md-3">
              <h1>4</h1>
            </div>
          </div>
          <button class="btn btn-primary">View Authors</button>
        </div>
      </div>
    </div>
  </div>
</div>
