<div class="" style="height: 100vh">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <form>
      <div style="width: 450px">
        <h2 class="text-center">User Login Form</h2>
        <div>
          <label for="">User id</label>
          <input type="text" class="form-control" />
        </div>
        <div class="my-3">
          <label for="">Password</label>
          <input type="password" class="form-control" />
        </div>
        <div>
          <button class="btn btn-primary">Login</button>
          <a class="ms-2">Signup now!!</a>
        </div>
      </div>
    </form>
  </div>
</div>
